# StatiXOS Extras
on post-fs-data
    # Create an additional OTA package directory that unlike /data/ota_package
    # will not be touched by GmsCore.
    mkdir /data/awaken_updates 0770 system cache

# adb over network
on property:adb.network.port=*
    setprop service.adb.tcp.port ${adb.network.port}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd
